#title{
	color: hotpink;
	font-family: bodoni;
	text-align: center;
	
}

body{
	background-color: lightgray;

} 

#overview1{
	display: flex;
	color: white;
	padding: 8px;
	margin-right: 800px;
	border-style: dotted;
	border-width: 5px;
	font-family: monospace;
	font-size: 17px;
	margin-left: 300px;
	position: relative;
	left: 230px;


} 

.ov{
	position: relative;
	right: 45px;
}

h2{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	
	
	
	
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

li {
  float: left;
}

li a {
  display: block;
  color: hotpink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


#lash-lift-img{
	display: flex;
	justify-content: space-around;
	height:  300px;
	border-style: solid;
	border-width: 5px;
	border-color: whitesmoke;

}

#pricing{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	text-align: center;

}

#ordered-list-styling{
	color: white;
	border-style: dotted;
	border-width: 5px;
	display: inline-block;
	font-family: monospace;
	font-size: 20px;

}

#overview2{
	color: white;
	border-style: dotted;
	border-width: 5px;
	display: inline-block;
	font-family: monospace;
	font-size: 20px;
}

#introduction{
	color: white;
	font-family: monospace;
	font-size: 20px;
	position: relative;
	bottom: -50px;

}

body {
  position: relative;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color:darkred; 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: lightgray;
  margin: 15% auto; 
  padding: 20px;
  border: none;
  width: 80%; 
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#extension-img{
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 600px;
	border: solid;
	border-width: 5px;
	border-color: white;
}

#lash-lift-img2{
	display: flex;
	flex-direction: column;
	height: 400px;
	width:  600px;
}

#ordered-list-styling2{
	color: white;
	border-style: dotted;
	border-width: 5px;
	display: inline-block;
	font-family: monospace;
	font-size: 20px;
	margin-left: 700px;
	margin-right: 100px;
	margin-bottom: 100px;
	position: relative;
	bottom: 400px;


}

#title-styling-lifts{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	text-indent: 1100px;
	position: relative;
	bottom: 400px;



}

#title-styling-lifts2{
color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	text-indent: 1000px;
	position: relative;
	bottom: 400px;

}

#title-styling-lifts3{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	text-indent: 1000px;
	position: relative;
	bottom: 400px;

}



/* Lash Lift Page -- Modal Styling */
.modal-img{
	width:  300px;
	height:  250px;
	display: flex;
	flex-direction: row;
}

.modal-img2{
	width:  300px;
	height:  250px;
	display: flex;
	flex-direction: row;
}

.modal-img3{
	width:  300px;
	height:  250px;
	display: flex;
	flex-direction: row;
}

#modaltitle{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

span {
  content: "\2193";
  color: white;
  font-size: 80px;
  display: inline-block;
  margin-left: 170px;
	
}

#myBtn{
	background-color: hotpink;
	border: none;
	width: 200px;
	height:  70px;
	margin-top:  20px;
	margin-left: 800px;
	font-family: bodoni;
	font-size: 20px;
	color: white ;
	font-weight: bold;
}

.arrow{
	position: relative;
	bottom: -30px;
	right: 120px;

}

.arrow2{
	position: relative;
	 top:-190px;
	 left: 500px;
}

.formula-title{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	position: relative;
	bottom: 400px;
}

#ordered-list-styling4{
	color: white;
	border-style: dotted;
	border-width: 5px;
	display: inline-block;
	font-family: monospace;
	font-size: 20px;
	position: relative;
	bottom: 400px;
}

.fyi{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	position: relative;
	bottom: 250px;
	text-decoration: underline;
}

.introduction2{
	color: white;
	font-family: monospace;
	font-size: 20px;
	position: relative;
	bottom: 600px;
	margin-left: 450px;
	border-style: dotted;
	border-width: 5px;
	font-family: monospace;
	
}

.steps{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	position: relative;
	bottom:  550px;
}

#ordered-list-styling5{
	color: white;
	border-style: dotted;
	border-width: 5px;
	display: inline-block;
	font-family: monospace;
	font-size: 20px;
	position: relative;
	bottom: 550px;
	margin-left: 450px;
}

#ordered-list-styling6{
	color: white;
	border-style: dotted;
	border-width: 5px;
	display: inline-block;
	font-family: monospace;
	font-size: 20px;
	position: relative;
	bottom: 500px;
}
#ordered-list-styling7{
	color: white;
	border-style: dotted;
	border-width: 5px;
	display: inline-block;
	font-family: monospace;
	font-size: 20px;
	position: relative;
	bottom: 500px;
	left: 650px;
}



.extensions-title{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	position: relative;
	bottom:  550px;
	margin-left: 700px;
}

.gallery{
	position: relative;
	bottom: 450px;
	font-family: monospace;
	border: solid 5px white !important;

	font-size: 15px;
	color: white;
	display: inline-block;
	font-weight: bold;
	text-decoration: underline;
	display: flex;
	flex-direction: column;
}

.gallery-title{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	bottom: 500px;
	display: flex;
	margin-left: 750px;
}

#center-gallery{
	display: flex;
	justify-content: center;
}


.right-arrow-gallery{
	position: relative;
	bottom: 600px;
	margin-left: 300px;
}

.right-arrow-gallery2{
	position: relative;
	bottom: 600px;
	margin-left: -300px;
}


.left-arrow-gallery{
	position: relative;
	bottom: 600px;
	left:  1050px;

}

.left-arrow-gallery2{
	position: relative;
	bottom: 600px;
	left:  1000px;
}


.fills-title{
		color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	bottom: 500px;
	margin-left: 800px;

}

.pricing2{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	bottom:  500px;
	margin-left: 800px;

}

.left-image{
	position: relative;
	bottom:  775px;
	height: 400px;
	width:  420px;
	right: -60px;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-width: 5px;
	border-color: whitesmoke;
}


.right-image{
	position: relative;
	bottom:  1600px;
	height: 400px;
	width:  420px;
	left: 1200px;
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-width: 5px;
	border-color: whitesmoke;
}

.fyi2{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	position: relative;
	text-decoration: underline;
	bottom: 2000px;

}

.fyi3{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	position: relative;
	text-decoration: underline;
	top:  80px;
}

.video{
	position: relative;
	bottom: 2100px;
	left: 570px;
	
}

#overview8{
	display: flex;
	color: white;
	padding: 8px;
	margin-right: 1300px;
	border-style: dotted;
	border-width: 5px;
	position: relative;
	top: 650px;
	font-family: monospace ;
}

.avaimg{
	display: flex;
	justify-content: space-around;
	height:  600px;
	border-style: solid;
	border-width: 5px;
	border-color: whitesmoke;
	position: relative;
	bottom: 150px;
	left: 30px;
}

.spaimg{
	height:  300px;
	border-style: solid;
	border-width: 5px;
	border-color: whitesmoke;
	position: relative;
	bottom:  600px;
	left: 500px;

}

.service-img{
	height:  300px;
	border-style: solid;
	border-width: 5px;
	border-color: whitesmoke;
	position: relative;
	bottom:  600px;
	left: 600px;
}

.location{
	color: white;
	border-style: dotted;
	border-width: 5px;
	display: inline-block;
	font-family: monospace;
	font-size: 20px;
	position: relative;
	bottom:  455px;
	left: 550px;
	margin-right: 1200px;
}

.service{ 
	color: white;
	border-style: dotted;
	border-width: 5px;
	display: inline-block;
	font-family: monospace;
	font-size: 20px;
	position: relative;
	bottom:  620px;
	left: -20px;
	margin-left: 1300px;
 }

#book{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	bottom:  400px;
	left: 700px;
}

.calendly-inline-widget{
	position: relative;
	bottom:  250px;
}


.home-img{
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 400px;
	border: solid;
	border-width: 5px;
	border-color: white;
	position: relative;
	bottom: 300px;
}

.home-img2{
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 400px;
	border: solid;
	border-width: 5px;
	border-color: white;
	position: relative;
	bottom: 700px;
	left:  1250px;

}

#home-img3{
	position: relative;
	bottom: 750px;
	left:  150px;
	border: solid;
	border-width: 5px;
	border-color: white;
	height: 300px;
	width:  500px;

}

.title5{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	font-weight: bold;
	position: relative;
	bottom:  800px;
	left:  650px;
}

.address{
	color:  white;
	font-size:  20px;
	font-weight: bold;
	font-family: bodoni;
	position: relative;
	bottom: 1150px;
	left:  700px;
}

.ad{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	position: relative;
	font-weight: bold;
	bottom: 700px;
	text-align: center;
}

.ad-info{
	color: white;
	border-style: dotted;
	border-width: 5px;
	font-size: 18px;
	position: relative;
	font-family: monospace;
	bottom: 650px;
	margin-left: 300px;
	right: 200px;
}

.philosophy{
	color: hotpink;
	font-family: bodoni;
	font-size: 30px;
	position: relative;
	font-weight: bold;
	text-align: center;
	bottom:  550px;
}

.approaches{
	color: white;
	border-style: dotted;
	border-width: 5px;
	font-size: 18px;
	position: relative;
	font-family: monospace;
	bottom: 500px;
	margin-left: 300px;
	right:  200px;
}

















