/** {
	color: hotpink;
	background-color: black;
	text-align: center;
	font-family: monospace;
}
h1{
	font-size: 280%;
	border: 5px solid white;
}

P{
	font-size: 130%;
}

body{
	background-color: black;
}*/

.service-change{
	font-weight: bold;
	color: red;


}

.normal-service{
	color: green;

}

.all-trains{
	font-size: 25px;
}