body{
	background-color: lightpink;

}
h1{
	text-align: center;
	font-family: monospace;
	font-size: 300%;
	color: hotpink;
}


p{
	font-family: monospace;
	font-size: 160%;
}

h2{

	text-align: center;
	font-family: monospace;
	font-size: 400%;
	color: hotpink;
}

h3{
	text-align: center;
	font-family: monospace;
	font-size: 200%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

ol {
	font-size: 160%;
	font-family: monospace;
}

ul{
	font-size: 160%;
	font-family: monospace;
}
