body {
	background-color: powderblue;r
}
p {
	font-size: 120% ;
	font-family: fantasy;
}
h1 { color: hotpink; font-family: fantasy; text-align: center;}
h2 { color: hotpink; font-family: fantasy;}
h3  {color: hotpink; font-family: fantasy; font-size: 160%;}
ul{
	font-size: 120%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

